/* Loader.css */
.loader {
  /* padding:  */
  position: absolute;
  z-index: 3;
  background-color: #fff;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.9s ease-in-out;
  transform: translateY(-100%); /* Initially, move the loader down */
}

/* Loader.css */

.loader-content {
  position: relative;
  /* padding-top: 500px; */
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("https://miro.medium.com/v2/resize:fit:1400/0*6DP_xM5HWoEL73xf.png"); */
  min-height: 100vh;
  min-width: 100vw;
}

.loader.active {
  display: block;
  height: max-content;
  margin-bottom: 0;
  transform: translateY(0); /* When active, move the loader up */
}
.chatLogo {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
}
.loaderLogoText {
  position: absolute;
  left: 50%;
  top: 63%;
  transform: translate(-50%, -50%);
  color: rgb(83, 4, 117);
  font-size: 36px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
}
.loaderProfile {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.loader-text {
  padding: 15px;
  color: #fff;
  border-radius: 5px;
  background-color: rgb(21, 157, 224);
  position: absolute;
  left: 50%;
  top: 86%;
  transform: translate(-50%);
}
